/* body{
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
} */

body {
    background-color: lightgrey;
    background-image: url(../images/background-img.jpg);


}


h1 {
    color: slategray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic; 
    text-emphasis: bold;
}

p {
    color: rgb(35, 32, 49);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-emphasis: bold;
    
}

div > p {
    color: rgb(30, 50, 13);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}

div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

h2 {
    color: rgb(30, 50, 13);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50; 
}


.text-center {
    text-align: center;
}

.bold-black {
    text-emphasis: bold;
    color:black;
}

a:hover {
    color: #928c92;
  }

.background-grey {
    background-color: rgb(218, 220, 221);
    opacity:0.8;
    
}

.border-design1 {
    border: #0f0d0f;
}

#logo {
    height:10rem;
    width:14%;
    border: #0f0d0f;
    border-radius: 180px;
    border-style: outset;
    box-shadow: #0f0d0f;
    align-content: center;
    opacity: 0.7;
}

#desk-image {
    height:30rem;
    width: 50%;
    border: #0f0d0f;
    border-style: outset;
    box-shadow: #0f0d0f;
    align-content: center;
    margin: auto;
}

ul {
    color: slategray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic; 
    text-emphasis: bold;
    list-style-type: none;
}

#bold {
    text-emphasis: bold;
    color:black; 
}

h3 {
    
}